<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshore.wms.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.eshore.wms.pojo.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.eshore.wms.pojo.Menu">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url, parent_id, sort, icon
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eshore.wms.pojo.Menu">
    insert into sys_menu (id, name, url, 
      parent_id, sort, icon, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{sort,jdbcType=TINYINT}, #{icon,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eshore.wms.pojo.Menu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eshore.wms.pojo.Menu">
    update sys_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.eshore.wms.pojo.Menu">
    update sys_menu
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=TINYINT},
      icon = #{icon,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eshore.wms.pojo.Menu">
    update sys_menu
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=TINYINT},
      icon = #{icon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 获取menu列表 -->
  <select id="menusList" resultMap="ResultMapWithBLOBs">
    <![CDATA[select * from sys_menu]]>
    <where>
      <if test="menuId != null and menuId != ''">
        id = #{menuId} or parent_id = #{menuId}
      </if>
    </where>
    <![CDATA[ order by parent_id,id ]]>
    <if test="pageSize != null and start != null ">
      limit #{start},#{pageSize}
    </if>
  </select>
  <!-- 获取user列表的总量 -->
  <select id="menusSize" resultType="Integer">
    <![CDATA[select count(*) from sys_menu]]>
    <where>
      <if test="menuId != null and menuId != ''">
        id = #{menuId} or parent_id = #{menuId}
      </if>
    </where>
  </select>
  <!-- 新建用户信息 -->
  <insert id="insertMenu">
		insert into sys_menu
		(name,url,parent_id,sort,remark,icon)
		values
		(#{menuEntity.name},#{menuEntity.url},#{menuEntity.parentId},#{menuEntity.sort},#{menuEntity.remark},#{menuEntity.icon})
	</insert>
  <!-- 更新用户信息 -->
  <update id="updateMenu">
    update sys_menu set
    name = #{menuEntity.name},
    url = #{menuEntity.url},
    parent_id = #{menuEntity.parentId},
    sort = #{menuEntity.sort},
    remark =
    #{menuEntity.remark},
    icon = #{menuEntity.icon}
    <where>
      id = #{menuEntity.id}
    </where>
  </update>
  <!-- 删除用户信息 -->
  <delete id="deleteMenus">
    delete from sys_menu
    <where>
      <if test="groupId !=null">
        id in
        <foreach collection="groupId" item="item" index="index"
                 open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </delete>
  <!-- 通过parentId得到menus列表 -->
  <select id="menusByParentId" resultMap="ResultMapWithBLOBs">
    select * from sys_menu
    <where>
      <if test="parentId != null">
        parent_id = #{parentId}
      </if>
    </where>
  </select>

  <select id="getParentMenuListById" resultMap="ResultMapWithBLOBs">
    select * from sys_menu
    <where>
      id in (select distinct parent_id from sys_menu
      <where>
        id in
        <foreach collection="ids" item="item" index="index" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </where>
      )
    </where>
    order by sort
  </select>
  <select id="getMenuListById" resultMap="ResultMapWithBLOBs">
    select * from sys_menu
    <where>
      id in
      <foreach collection="ids" item="item" index="index" open="("
               separator="," close=")">
        #{item}
      </foreach>
    </where>
    order by sort
  </select>
  <!-- 获取二级菜单 -->
  <select id="getSubmenus" resultMap="ResultMapWithBLOBs">
    select * from sys_menu
    <where>
      url is not null
    </where>
  </select>

</mapper>